absl-py==1.4.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
annoy==1.17.3
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
blessed==1.20.0
blobfile==2.1.1
cachetools==5.3.1
certifi==2022.12.7
charset-normalizer==2.1.1
cmake==3.25.0
contourpy==1.1.0
cycler==0.11.0
et-xmlfile==1.1.0
filelock==3.9.0
flatbuffers==23.5.26
FlowCal==1.3.0
fonttools==4.42.0
frozenlist==1.4.1
gast==0.4.0
gdown==5.2.0
geomstats==2.7.0
geoopt==0.5.0
geotorch==0.3.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpustat==1.1
grpcio==1.56.2
h5py==3.9.0
idna==3.4
imageio==2.31.1
importlib-metadata==6.8.0
importlib-resources==6.0.0
Jinja2==3.1.2
joblib==1.3.1
keras==2.13.1
kiwisolver==1.4.4
lazy_loader==0.3
libclang==16.0.6
lit==15.0.7
llvmlite==0.40.1
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.2
matplotlib==3.7.2
mpmath==1.2.1
multidict==6.0.5
networkx==3.0
numba==0.57.1
numpy==1.24.1
nvidia-ml-py==12.535.77
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.3
Pillow==9.3.0
protobuf==4.23.4
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycryptodomex==3.20.0
pyg-lib==0.2.0+pt20cu118
pymanopt==0.2.4
pynndescent==0.5.12
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.18.0
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
sklearn==0.0.post7
soupsieve==2.5
spektral==1.3.0
sympy==1.11.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.7.10
torch==2.0.1+cu118
torch-cluster==1.6.1+pt20cu118
torch-geometric==2.3.1
torch-scatter==2.1.1+pt20cu118
torch-sparse==0.6.17+pt20cu118
torch-spline-conv==1.2.2+pt20cu118
torchaudio==2.0.2+cu118
torchsummary==1.5.1
torchvision==0.15.2+cu118
tqdm==4.65.0
trimap==1.1.4
triton==2.0.0
typing_extensions==4.4.0
tzdata==2023.3
umap==0.1.1
umap-learn==0.5.6
urllib3==1.26.13
wcwidth==0.2.6
Werkzeug==2.3.6
wrapt==1.15.0
xlrd==1.2.0
yarl==1.9.4
zipp==3.16.2
